<div class="col-10 offset-1 about">
  <h1>What did you wanna know?</h1>

 <p>
  Q.Q.B. was built by <a target="_blank" href="https://campbell-not-soup.netlify.com">Trevor</a> who is learning to code through the University of Denver Bootcamp!
</p>
<br />
<p>
  With the help and support of many friends and family members, Trevor is paving the path to his dreams making a career in the wonderful world of technology.
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>

 <div class="row">
    <div class="col-12 col-sm-4 image">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Trevor Campbell</h2>
      <br />
      <p>
        Trevor is learning fast and certainly excited to launch into a tech career!
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />