@import "bootstrap";

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #1C248A;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #E87B64;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid black;
}

header {
  border-top: 9px solid #181A38;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Literata', serif;
}

h2 {
 font-family: 'Literata', serif;
}

@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');

